header {
    background-color: whitesmoke;
    padding-block: 20px;
    padding-inline: 10px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid slategray;
}

.container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

ul {
    display: flex;
    gap: 30px;
}

a {
    color: black;
}

.logo {
    display: block;
}

.btn {
    padding: 10px;
}

.btn-blue {
    background-color:#0063F9;
    color: white;
}

section.title-section {
    background: linear-gradient(#b4d0e6 90%, #fff 10%);
    padding: 10px;
}

.title-container{
    width: 90%;
    margin: 0 auto;
}

h1 {
    margin-bottom: 20px;
    font-size: 3rem;
    text-align: center;
}

.main-title {
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    position: relative;
}

.main-title a.btn {
    width: 60%;
    text-align: center;
}

i.fa-arrow-down {
    font-size: 50px;
    margin-top: 30px;
}

.photo {
    width: 100%;
    display: block;
}

.main-title__text {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.main-title__img {
    flex-basis: 60%;
}

.container-business {
    width: 80%;
    margin: 0 auto;
}


input[type="radio"] {
    background-color: #fff;
    border-color: #D4D4D4;
    margin-top: 30px;
}

.business-plan {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    
}

.business-plan > div {
    flex-basis: calc(100% / 3 - 10px);
    flex-grow: 1;
}

.business-plan > div:last-child {
    flex-basis: 100%;
}

.business-plan__card {
    border: 1px solid lightgray;   
}

.btn.btn-blue.width {
    width: 20%;
}

.name-pack {
    border-bottom: 1px solid lightgray; 
    text-align: center;  
}
h5 {
    padding-top: 30px;
    border-top: 1px solid lightgray;
}


.business-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.business-info .btn {
    width: 50%;
    text-align: center;
}

.business-info > span.color-gray {
   color: slategrey;
}

a.underline {
    text-decoration: underline;
    color: #392ce6;
} 

.container-business.flex {
    display: flex;
    flex-direction: row;
    padding: 100px;
}

figure.img-business img {
    width: 100%;
}

.img-business {
    flex-basis: 60%;
    flex-grow: 2;
}

.text-business {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 20px 50px;
}

.operation-cards h2{
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.card-img img {
    width: 100%;
}

.card-text p {
    padding: 10px;
}

.card-text h3 {
    font-size: 1.5rem;
}

.operation-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.operation-card__section {
    flex-basis: calc(100% / 3 - 10px);
}


.container-business.width{
    width: 30%;
    margin: 0 10%;
}

.business-bottom {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    margin-top: 60px;
}

footer {
    background-color: #000000;
}


