header {
    background-color: whitesmoke;
    padding-block: 20px;
    padding-inline: 10px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid slategray;
}

.container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

ul {
    display: flex;
    gap: 30px;
}

a {
    color: black;
}

.logo {
    display: block;
}

.btn-blue {
    background-color:#0063F9;
    color: white;
    padding: 10px;
}

section.title-section {
    background-color: #B4D0E6;
    padding-inline: 15%;
    width: 100%;
}

section.business-choice {
    padding-inline: 15%;
    margin-block: 5%;
}

h1 {
    text-align: center;
    font-size: 90px;
}

.main-title {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
   position: relative;
}

.photo {
    width: 100%;
    display: block;
}

/*.main-title__absolute {
    position: absolute;
    top: 0;
 

}

.main-title__position {
    position: absolute;
    top: -10px;
}*/

input[type="radio"] {
    background-color: #fff;
    border-color: #D4D4D4;
}

.radio-check {
    margin-block: 10px;
}

.business-plan {
    width: 25%;
    display: flex;
    flex-direction: column;
  
}


.name-pack {
    border: 1px solid lightgray;
    
}

h5 {
    padding-top: 30px;
    border-top: 1px solid lightgray;
}