header {
    background-color: whitesmoke;
    padding-block: 20px;
    padding-inline: 10px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid slategray;
}

.container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

ul {
    display: flex;
    gap: 30px;
}

a {
    color: black;
}

.logo {
    display: block;
}

.btn {
    padding: 10px;
}

.btn-blue {
    background-color:#0063F9;
    color: white;
}

section.title-section {
    background: linear-gradient(#b4d0e6 90%, #fff 10%);
    padding: 10px;
}

.title-container{
    width: 90%;
    margin: 0 auto;
}

h1 {
    margin-bottom: 20px;
    font-size: 3rem;
    text-align: center;
}

.main-title {
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    position: relative;
}

.main-title a.btn {
    width: 60%;
    text-align: center;
}

i.fa-arrow-down {
    font-size: 50px;
    margin-top: 30px;
}

.photo {
    width: 100%;
    display: block;
}

.main-title__text {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-title__img {
    flex-basis: 60%;
}

.container-business {
    width: 80%;
    margin: 0 auto;
}


input[type="radio"] {
    background-color: #fff;
    border-color: #D4D4D4;
    margin-top: 30px;
}

.business-plan {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    
}

.business-plan__card {
    flex-basis: calc(100% / 3-20);
    flex-grow: 1;
}


.name-pack {
    border: 1px solid lightgray;
    
}

h5 {
    padding-top: 30px;
    border-top: 1px solid lightgray;
}

.important {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}



.business-info {
    display: flex;
    flex-direction: column;
}

.container-business.flex {
    display: flex;
    flex-direction: row;
    padding: 100px;
}

figure.img-business img {
    width: 100%;
}

.img-business {
    flex-basis: 60%;
    flex-grow: 2;
}

.text-business {
    flex-basis: 40%;
}
